In [8]:
from powerbiclient import QuickVisualize, get_dataset_config, Report
from powerbiclient.authentication import DeviceCodeLoginAuthentication

import pandas as pd

In [9]:
device_auth = DeviceCodeLoginAuthentication()

Performing device flow authentication. Please follow the instructions below.
To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code PUZZ7MWRD to authenticate.

Device flow authentication successfully completed.
You are now logged in .

The result should be passed only to trusted code in your notebook.

In [10]:
# Import sample CSV as a pandas DataFrame
df = pd.read_csv('c:\Data\CountryPopulationbyYear.csv')

# Display DataFrame
df.head()

,Country Name,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Canada,30499200,30769700,31081900,31362000,31676000,31995000,32312000,32570505,32887928,33245773,33628571,34005274,34342780,34754312,35158304,35540419,35540419,35540419
1,Germany,82100243,82211508,82349925,82488495,82534176,82516260,82469422,82376451,82266372,82110097,81902307,81776930,81797673,80425823,80645605,80889505,80889505,80889505
2,France,60496715,60912498,61357431,61805267,62244884,62704897,63179356,63621376,64016229,64374990,64707044,65027512,65342776,65639975,65925498,66206930,66206930,66206930
3,Mexico,101266570,102808590,104239563,105578297,106888418,108257822,109747906,111382857,113139374,114972821,116815612,118617542,120365271,122070963,123740109,125385833,125385833,125385833
4,USA,279040000,282162411,284968955,287625193,290107933,292805298,295516599,298379912,301231207,304093966,306771529,309347057,311721632,314112078,316497531,318857056,318857056,318857056

In [11]:
# Create a Power BI report from your data
PBI_visualize = QuickVisualize(get_dataset_config(df), auth=device_auth)

In [12]:
PBI_visualize

QuickVisualize()

In [ ]:
group_id = "a022b415-a64f-4890-a3ab-2f00be9d10b4"
report_id = "4963cf58-fb77-4241-8c89-942a5c41d15d"
report = Report(group_id=group_id, report_id=report_id, auth=device_auth)

In [ ]:
report